[Desktop Entry]
Type=Application
Name=ambiancechanger
Icon=icon-launcher-gallery
Exec=invoker --type=j -s /opt/sdk/bin/ambiancechanger
Comment=Sailfish UI application


